{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Vítejte v Dotazníkovači!</h1>
            </div>
        </div>
        <a href="{{ path('admin_index') }}">Admin</a>
    </div>
{% endblock %}
